---
import Layout from "../../layouts/Layout.astro";
import { client } from "../../lib/sanity";

export async function getStaticPaths() {
  const posts = await client.fetch(`
    *[_type == "post"] {
      slug {
        current
      }
    }
  `);

  return posts.map((post: any) => ({
    params: { slug: post.slug.current },
  }));
}

const { slug } = Astro.params;

const post = await client.fetch(
  `
  *[_type == "post" && slug.current == $slug][0] {
    title,
    publishedAt,
    mainImage {
      asset-> {
        _id,
        url
      }
    },
    body[] {
      ...,
      _type == "image" => {
        "url": asset->url
      }
    }
  }
`,
  { slug }
);

if (!post) {
  return Astro.redirect("/404");
}
---

<Layout title={`${post.title} - Beau Crisp Blog`}>
  <article class="max-w-3xl mx-auto px-4 md:px-0 min-h-[96vh] pt-48">
    {
      post.mainImage && (
        <img
          src={post.mainImage.asset.url}
          alt={post.title}
          class="w-full h-64 object-cover rounded-lg mb-8"
        />
      )
    }

    <h1 class="text-4xl font-bold mb-4">{post.title}</h1>

    <div class="text-gray-600 mb-8">
      {new Date(post.publishedAt).toLocaleDateString()}
    </div>

    <div class="prose lg:prose-xl max-w-none">
      {
        post.body?.map((block: any) => {
          if (block._type === "block") {
            return <p class="mb-4">{block.children[0].text}</p>;
          } else if (block._type === "image" && block.url) {
            return (
              <img
                src={block.url}
                alt="Blog content image"
                class="my-8 rounded-lg"
              />
            );
          }
        })
      }
    </div>
    <div class="flex justify-center">
      <a
        href="/writing"
        class="bg-rose-800 hover:bg-rose-700 text-white px-4 py-2 transition-colors duration-200 shadow-lg md:text-2xl pb-2"
      >
        Back to Writing
      </a>
    </div>
  </article>
</Layout>
